.navbar
  .ul.nav-justfuild.text-dark
    .li.nav-item
      %a.nab-link
        incident counter
      %a.nab-link
        home
      %a.nab-link
.Main
  .div.jumbotron.bg-secondary
  .container
    .row
      .col.bg-dark.col-3
      .col
        = button_to "インシデント項目1", incidents_path, class: "btn btn-outline-dark"
        = Incident.group(:type).count(:type[])
        = button_to "インシデント項目2", incidents_path, class: "btn btn-outline-dark"
        = button_to "インシデント項目3", incidents_path, class: "btn btn-outline-dark"
        = button_to "インシデント項目4", incidents_path, class: "btn btn-outline-dark"
        -# %button.btn.btn-outline-dark
        -#   btn
        = Incident.all.count

        